body {
    font-family: Arial, sans-serif;
    background-image: url(back.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-image: url(back.gif);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card-content {
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #ff69b4;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: green;
    margin-bottom: 20px;
}

.cake-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oko {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

